{% extends 'base.html' %}


{% block title %} Adoption Agency {% endblock %}


{% block content %}

<h1 class="pt-4 mb-3 text-center">Pets</h1>

<div class="row">
    {% for pet in pets %}
    <div class="col">
        <a href="/{{pet.id}}">
            <img src="{{ pet.photo_url }}" alt="photo of {{ pet.name }}" width="200px">
        </a>
        <p><a href="/{{pet.id}}"> {{ pet.name }} </a>
            {% if pet.available %}
            <b>is available</b>
            {% endif %}
        </p>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="add-pet-btn">
        <a href="/add" class="btn btn-info btn-lg">Add a Pet</a>
    </div>
</div>

{% endblock %}